doctype html
html(lang='en')
  head    
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='A link shortener')
    link(id='favicon' rel='icon' href='../public/moon.ico' type='image/x-icon')    
    title Create Smll URL
  body    
    .container.hide
      .smll-url
        h1
          a(href="https://smll-url.xyz") smll-url
        form#url_form
          label(for="url_input") Paste URL Here
          input#url_input.inputs(type="url" name='url' autocomplete='off' required)
          button#submit-btn.hide Get smll-url
        form
          label(for="short_url") Shortened URL
          input#short_url.inputs(type="text" name="short_url" autocomplete="off" required readonly)
          button.btn.copy-btn(type="button" data-clipboard-target="#short_url") Copy to Clipboard
        .alert Link Copied
      .info
        p Add '/p' to the end of any short URL to see the original URL.
        p 
          a(href="https://smll-url.xyz/b7QeeWy_E/p") https://smll-url.xyz/b7QeeWy_E/p      
    script(src="../public/index.js")
    noscript      
      include /nojs.pug
