.container
  .smll-url
    h1
      a(href="https://smll-url.xyz/") smll-url
    form#url_form(action="/new" method='post')
      label(for="url_input") Paste URL Here
      input.inputs#url_input(type="url" name='urlnojs' autocomplete='off' pattern='https://.*|http://.*' required)
      button#submit-btn.btn Get smll-url
  .contact    
    p Leave feedback: 
    p
      a(href="mailto:brent-dev@protonmail.com") brent-dev@protonmail.com