doctype html
html(lang='en')
  head    
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='A link shortener')
    link(id='favicon' rel='icon' href='https://cdn.glitch.com/326b20a4-b06a-47c2-b78f-182d8a4d3766%2FsmallmoonCrop.ico?1549589191663' type='image/x-icon')
    link(rel="stylesheet", href="/public/style.css")    
    title Preview ShortURL
  body    
    .nojs-container
      .smll-url
        h1
          a(href="https://smll-url.glitch.me") smll-url
        .prev-container
          h2 Original URL
          p.url-prev= original_url
          h2 Shortened URL
          p.url-prev= short_url       
      .footer
        p by 
          a(href="https://github.com/br3ntor") br3ntor
    
    
