doctype html
html(lang='en')
  head    
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='A link shortener')
    link(id='favicon' rel='icon' href='../public/moon.ico' type='image/x-icon')
    link(rel="stylesheet" href="/public/style.css")    
    title Preview Smll URL
  body    
    .container
      .smll-url
        h1
          a(href="https://smll-url.xyz/") smll-url
        .prev-container
          h2 Original URL
          p.url-prev
            a(href=original_url) #{original_url}
          h2 Shortened URL
          p.url-prev.us #{short_url}
      .info
        p Add '/p' to the end of any short URL to see the original URL.
        p 
          a(href="https://smll-url.xyz/b7QeeWy_E/p") https://smll-url.xyz/b7QeeWy_E/p 
      .spacer
      .contact    
        p Send feedback: 
        p
          a(href="mailto:brent-dev@protonmail.com") brent-dev@protonmail.com
