doctype html
html(lang='en')
  head    
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='A link shortener')
    link(id='favicon' rel='icon' href='../public/moon.ico' type='image/x-icon')
    link(rel="stylesheet", href="/public/style.css")    
    title Preview ShortURL
  body    
    .nojs-container
      .smll-url
        h1
          a(href="https://brent-dev.com") smll-url
        .prev-container
          h2 Original URL
          p.url-prev= original_url
          h2 Shortened URL
          p.url-prev= short_url       
      .footer
        p by 
          a(href="https://github.com/br3ntor") br3ntor
    
    
