@font-face {
  font-family: Roboto;
  src: url('Roboto-Regular.ttf') format('truetype');
  /*   font-display: swap; */
  font-weight: 400;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #191f1a;
  text-align: center;
  line-height: 1.4rem;
}

h1 {
  margin: 50px 0;
}

h1 a {
  color: white;
  text-decoration: none;
  border-bottom: 5px solid #4db6ac;
}

h2 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
}

a {
  color: #4db6ac;
}

form,
.prev-container {
  width: 80%;
}

label {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

/* #url-form {
  margin-bottom: 44px;
} */

/* .nojs-container .smll-url {
  min-height: 370px;
} */

.url-prev {
  background: white;
  color: black;
  padding: 17px;
  word-break: break-all;
  margin: 10px 0 50px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 18px;
}

.url-prev a {
  color: #006fe6;
  text-decoration: none;
}

.url-prev a:hover {
  text-decoration: underline;
}

/* .container,
.nojs-container { */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-height: 640px;
}

.smll-url {
  position: relative;
  background: #2e3c42;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  border-radius: 5px;
}

.inputs {
  padding: 17px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin: 10px 0 50px;
  transition: background-color 1000ms linear;
}

.btn {
  font-family: 'Roboto';
  margin-top: 15px;
  margin-bottom: 44px;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 12px 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: #2e3c42;
  border: 2px solid #4db6ac;
  border-radius: 2px;
  color: white;
  transition: background-color 0.15s ease-in-out;
}

/* Enabled if not on mobile */
/* .non-touch:hover,
.nojs-container .btn:hover { */
.non-touch:hover {
  background: #4db6ac;
}

/* .btn:active,
.nojs-container .btn:active { */
.btn:active {
  background: #009688;
}

.alert {
  position: absolute;
  bottom: 100px;
  opacity: 0;
  padding: 0.55rem 4.5rem;
  border: 2px solid #856404;
  color: #856404;
  background-color: #fff3cd;
  border-radius: 0.25rem;
}

.info {
  margin: 20px 5px;
  color: #a7a7a7;
}

.info a {
  color: #41a59c;
}

.spacer {
  border-bottom: 2px dashed #404040;
  width: 90%;
  max-width: 600px;
}

.contact {
  margin: 20px 0;
  color: #a7a7a7;
}

.contact a {
  color: #41a59c;
}

.animate-reveal {
  animation: fadeinout 2s linear forwards;
}

.input-bg-success {
  background-color: #b2ffaf;
  transition: 100ms;
}

.input-bg-info {
  background-color: #fff3cd;
  transition: 100ms;
}

.input-bg-error {
  background-color: #ffafaf;
  transition: 100ms;
}

.us {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.hide {
  display: none;
}

/* Keyframes for animation */
@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }

  5%,
  50% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .smll-url {
    margin-top: 0;
    border-radius: 0;
  }
}

@media (max-height: 640px) {
  .smll-url {
    margin-top: 0;
    border-radius: 0;
  }
}
